@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: white;
}
.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}
